/*底部链接*/
.footer{	
	width:100%;
	height:450px;
	/*background:red;*/
	margin-top:50px;
}
.footer-center{	
	width:1190px;
	height:450px;
	/*background:blue;*/
	margin:0 auto;
	border:1px solid #e5e5e5;
}
/*底部链接详细信息*/
.footer-center-content{
	width:150px;
	height:170px;
	/*border:1px solid red;*/
	margin:50px 0px 0px 70px;
	float:left;
}
.footer-center-content ul b{	
	font-size:14px;
	color:#222;
	line-height:22px;
}
.footer-center-content ul li{	
	font-size:12px;
	color:#222;
	line-height:20px;
}
.footer-center-content  ul li:hover{	
	color:#FF6600;
	cursor:pointer;
}
/*关于网站的介绍*/
.info{	
	width:100%;
	height:100px;
	margin-top:50px;
}
.info-center{	
	width:1190px;
	height:100px;
	margin:0 auto;
	line-height: 100px;
	text-align: center;
	font-size: 18px;
	font-weight: 600;
}
